<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>EJ-CRaft</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Change Request Starter Summary and Description</h1>
<p><b>After reviewing, </b>Copy and Paste this line to your "Short Description" section
    on the Change Request Page.</p>
<p th:text="'Short Description: ' + ${greeting.summary}" />

<p><b>After reviewing, </b>Copy and Paste this line to your "Description" section
    on the Change Request Page.</p>
<p th:text="'Description: ' + ${greeting.description}" />

<a href="/ejcraft">Submit another message</a>
</body>
</html>